input, select,textarea {
    background: #caeed6;
}
.name input, .phone input, .email input, .day input, .month input, .year input{
    padding: 10px;
}
body{
    background-color: #baf8cd;
}
table { 
    border-collapse: collapse; 
    text-align: center;
    margin: 0 auto ;
}

td, th {
    padding: 0px 10px;
    border: 1px solid black; 
}

th {
    background: #049539;
}


select {
    width: 80px;
    padding: 10px;
    text-align: center;
    font-size: large;
}
.year{
    width:100px;
}
.languages{
    text-align: left;
    /* display: flex; */
}
td .change{
    display: flex;
    flex-direction: column;
}


.button_save{
    margin-bottom: 15px ;
}

.column-item input{
    padding: 5px;
    width: 60px;
}

h1 {
    text-align: center;
}

.msgbox {
    padding: 10px 0px 25px 10px;
}
.langProg{
    margin: 0;
}
.biography{
    padding: 10px;
}